{% extends 'layout.html' %}
{% block body %}

<!--cover section slider -->
<section id="home" class="home-cover">
    <div class="cover_slider owl-carousel owl-theme">
        <div class="cover_item" style="background: url('static/img/bg/slider1.jpg');">
             <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-center">
                            <h2 class="cover-title">
                                Your one stop for your event
                            </h2>
                            <strong class="cover-xl-text">prediction</strong>
                            <p class="cover-date">
                              <!--  12-14 February 2018  - Los Angeles, CA.-->
                            </p>
                            <a href="/predict" class=" btn btn-primary btn-rounded" >
                                Predict Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover_item" style="background: url('static/img/bg/slider2.jpg');">
            <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-left">
                            <h2 class="cover-title">
                                Your one stop for your event
                            </h2>
                            <strong class="cover-xl-text">prediction</strong>
                            <p class="cover-date">
                              <!--  12-14 February 2018  - Los Angeles, CA.-->
                            </p>
                            <a href="/predict" class=" btn btn-primary btn-rounded" >
                                Predict Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover_item" style="background: url('static/img/bg/slider3.jpg');">
            <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-center">
                            <h2 class="cover-title">
                                Your one stop for your event
                            </h2>
                            <strong class="cover-xl-text">prediction</strong>
                            <p class="cover-date">
                              <!--  12-14 February 2018  - Los Angeles, CA.-->
                            </p>
                            <a href="/predict" class=" btn btn-primary btn-rounded" >
                                Predict Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cover_nav">
        <ul class="cover_dots">
            <li class="active" data="0"><span>1</span></li>
            <li  data="1"><span>2</span></li>
            <li  data="2"><span>3</span></li>
        </ul>
    </div>
</section>
<!--cover section slider end -->
<section class="pt100 pb100">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                About the E/vents
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <p>
                    With the help of our versatile tool, we help you to analyze your event. With more than accurate results, various parameters are studied before giving you the prediction. So, you are just one step away in creation of your next big events. Following are a few features that we are going to provide for the companies who wish to create a successful event.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <p>
                    right paragraph
                </p>
            </div>
        </div>

        <!--event features-->
        <div class="row justify-content-center mt30">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <!-- <i class="lnr lnr-mic"></i> -->
                    <div class="content">
                        <h4>Online Polling</h4>
                        <p>
                            Every event in our feed will be provided with the online polling session to the attendees which will help as a major tool to know the experience of the people attending the event. Event goers can share their experience here talking about which part of the event they found out to be more informative or which part of the event they enjoyed a lot.
                        </p>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <!-- <i class="lnr lnr-rocket"></i> -->
                    <div class="content">
                        <h4>Useful post-event analytics</h4>
                        <p>
                            A detailed report will be provided regarding the percentage factors generated for each event and suggestion will be given to make the event successful. Based on the various parameter we can suggest which parameter should be more focused upon, in order to make the event successful.
                        </p>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <!-- <i class="lnr lnr-bullhorn"></i> -->
                    <div class="content">
                        <h4>Check in attendees</h4>
                        <p>
                            A fast and easy way to electronically check in the attendees that are present in the event. This will help for the organizers to keep a track of the event goers, eliminating all the traditional approach and glitches in manual counting.
                        </p>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <!-- <i class="lnr lnr-clock"></i> -->
                    <div class="content">
                        <h4>Virtual Outlook</h4>
                        <p>
                            With the help of augmentation reality, we will be able to showcase what your event is going to look like and hence forth eliminating the practical issues which can thus be faced on the time of the event. This tool is mostly important for the event managers who faces difficulties at the time of event. Providing a clear picture how the event is going to look like in the future will help in long-term planning.
                        </p>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>
        </div>
        <!--event features end-->
    </div>
</section>
<!--about the event end -->


<!--speaker section-->
<section class="pb100">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
               our members
            </h3>
        </div>
    </div>
    <div class="row justify-content-center no-gutters">
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="static/img/speakers/s1.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Abhishek Bandivadekar</h5>
                        <p class="position">The boss</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="static/img/speakers/ajit.jpg" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Ajit Goud</h5>
                        <p class="position">Android Developer</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="static/img/speakers/trishala.jpg" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Trishala Ahalpara</h5>
                        <p class="position">Creative Writer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="static/img/speakers/vinay.jpg" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Vinay Addagatla</h5>
                        <p class="position">The Designer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="static/img/speakers/kunal.jpg" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Kunal Kasa</h5>
                        <p class="position">kon hai ye</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="static/img/speakers/jatin.jpg" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Jatin Jawale</h5>
                        <p class="position">The ML Guy</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="static/img/speakers/s7.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">Chandana Nighut</h5>
                        <p class="position">The best Mentor</p>
                    </div>
                </div>
            </div>
        </div>
        <a name="E_events"></a>
        
</section>

<!--event calender-->

<section class="pb100">
    <div class="container">
        <div class="table-responsive">
            <table class="event_calender table">
                <thead class="event_title">
                <tr>
                    <th>
                        <i class="ion-ios-calendar-outline"></i>
                        <span>next events calendar</span>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <img src="static/img/cleander/c1.png" alt="event">
                    </td>
                    <td class="event_date">
                        14
                        <span>February</span>
                    </td>
                    <td>
                        <div class="event_place">
                            <h5>Conference in Amsterdam</h5>
                            <h6>08 AM - 04 PM</h6>
                            <p>Speaker: Daniel Hill</p>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary btn-rounded">Read More</a>
                    </td>
                    <td class="buy_link">
                        <!-- <a href="#">buy now</a> -->
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="static/img/cleander/c2.png" alt="event">
                    </td>
                    <td class="event_date">
                        18
                        <span>February</span>
                    </td>
                    <td>
                        <div class="event_place">
                            <h5>Conference in Amsterdam</h5>
                            <h6>08 AM - 04 PM</h6>
                            <p>Speaker: Daniel Hill</p>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary btn-rounded">Read More</a>
                    </td>
                    <td class="buy_link">
                        <!-- <a href="#">buy now</a> -->
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="static/img/cleander/c3.png" alt="event">
                    </td>
                    <td class="event_date">
                        22
                        <span>February</span>
                    </td>
                    <td>
                        <div class="event_place">
                            <h5>Conference in Amsterdam</h5>
                            <h6>08 AM - 04 PM</h6>
                            <p>Speaker: Daniel Hill</p>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary btn-rounded">Read More</a>
                    </td>
                    <td class="buy_link">
                        <!-- <a href="#">buy now</a> -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--event calender end -->

<!--brands section -->
<section class="bg-gray pt100 pb100">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                our partners
            </h3>
        </div>
        
            <div class="text-left">
                <img src="static/img/brands/d_n_c_logo_og.png" alt="brand">
            </div>
            <!-- <div class="brand_item text-center">
                <img src="assets/img/brands/b2.png" alt="brand">
            </div> -->
    </div>
</section>
<!--brands section end-->

<!--get tickets section -->
<section class="bg-img pt100 pb100" style="background-image: url('static/img/bg/tickets.png');">
    <div class="container">
        <div class="section_title mb30">
            <h3 class="title color-light">
                Get your predictions
            </h3>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-9 text-md-left text-center color-light">
                Evento is the online guide for event managers and event organizers. We focus on the creation of the next big event in the near future, by emphasizing the focus on the parameters that are important we help you create your next big successful event.
            </div>
            <div class="col-md-3 text-md-right text-center">
                <a href="/predict" class="btn btn-primary btn-rounded mt30">predict now</a>
            </div>
        </div>
    </div>
</section>
<!--get tickets section end-->
{% endblock %}
